body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input {
    text-align: center;
}

.for-input {
    display: inline-block;
}

p {
    text-align: center;
}